  <div class="container">
      <p class="lead">A web tool aimed at evaluating the quality of nanopore sequencing results.</p>

    <h3 class="mt-4">How It Works:</h3>
    <ol>
      <li>Input your service sequences (primers, barcodes, adapters).</li>
      <li>Define your desired similarity threshold for searching.</li>
      <li>Choose a smoothing algorithm (optional).</li>
      <li>Upload your FASTQ file.</li>
      <li>Receive detailed results showing the positional distribution of each specified service sequence across the FASTQ file.</li>
    </ol>

    <p>NanoporeInspect empowers users to efficiently evaluate the quality of nanopore sequencing results by providing insightful visualizations and detailed positional information on the distribution of target sequences within the sequencing data.</p>
  </div>
