{% extends "base.html" %}

{% block header %}
    {{ super() }}
{% endblock %}
{% block body%}
    {% block description %}
    {% include 'description.html' %}
{% endblock %}
{#<div class="container mt-5 small">#}

<form method="POST" enctype="multipart/form-data" class="form">
    {{ form.hidden_tag() }}
<div class="card" style="width: 50rem;">
  <div class="card-header">
      <h4>Input Parameters</h4>
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item">
        <div class="form-group">
                <label for="session_name">Session Name</label>
                {{ form.session_name(class="form-control-file", data_bs_toggle="tooltip", data_bs_placement="top", title="Session name can contain only latin letters, numbers and _") }}
                {% if form.session_name.errors %}
                <div class="text-danger">
                    {% for error in form.session_name.errors %}
                        <p>{{ error }}</p>
                    {% endfor %}
                </div>
            {% endif %}
        </div>
    </li>
    <li class="list-group-item"><h5>Sequences to search:</h5></li>

    <li class="list-group-item">
                        {% for nested in form.items %}
                <table id="items">
                    <tr>
                        <th>Sequence Name</th>
                        <th>Sequence</th>
                    </tr>
                    <tr id="items-0">
                    {% for field in nested  %}
                        <td>{{ field(class="form-control") }}</td>
                    {% endfor %}
                 </tr>
                </table>
                {% endfor %}
            <button id="add-new-field" type="button" class="btn btn-secondary btn-sm">Add sequence</button>
    </li>
  <li class="list-group-item">
      <div class="form-group">
                <label for="limit">Limit</label>
{#                {{ form.limit(size=10, class="form-control") }}#}
                {{ form.limit(size=10, class="form-control", data_bs_toggle="tooltip", data_bs_placement="top", title="Enter a limit for the data sample (max. number of lines to process)") }}
            </div>
  </li>
  <li class="list-group-item">
      <div class="form-group">
                <label for="fuzzy_similarity">Fuzzy Similarity Matcher</label>
          {{ form.fuzzy_similarity(class="form-control", data_bs_toggle="tooltip", data_bs_placement="top", title="Choose Levenshtein for smaller DNA libraries (<1000 reads) and BLASTn for larger ones") }}
            </div>
  </li>
  <li class="list-group-item">
      <div class="form-group">
                <label for="threshold">Threshold</label>
                {{ form.threshold(size=10, class="form-control", data_bs_toggle="tooltip", data_bs_placement="top", title="Enter a threshold for the string similarity level [0,1]") }}
                {% if form.threshold.errors %}
                    <div class="text-danger">
                        {% for error in form.threshold.errors %}
                            <p>{{ error }}</p>
                        {% endfor %}
                    </div>
                {% endif %}
      </div>
  </li>
  <li class="list-group-item">
      <div class="form-group">
                <label for="smoothing">Smoothing</label>
                {{ form.smoothing(class="form-control") }}
            </div>
  </li>
  <li class="list-group-item">
      <div class="form-group">
                <label for="email">Email</label>
                {{ form.email(size=50, class="form-control") }}
                  {% if form.email.errors %}
                    <div class="text-danger">
                        {% for error in form.email.errors %}
                            <p>{{ error }}</p>
                        {% endfor %}
                    </div>
                {% endif %}
            </div>
  </li>
  <li class="list-group-item">
       <div class="form-group">
                <label for="filename">Select File</label>
                {{ form.file(class="form-control-file") }}
                   {% if form.file.errors %}
                    <div class="text-danger">
                        {% for error in form.file.errors %}
                            <p>{{ error }}</p>
                        {% endfor %}
                    </div>
                {% endif %}
            </div>
  </li>
  <li class="list-group-item">
                  <button type="submit" class="btn btn-primary">Submit</button>

  </li>
  </ul>
</div>
</form>

<script>
    let formCount = 0;

    document.getElementById('add-new-field').addEventListener('click', function() {
        formCount++;
        let newItem = document.createElement('tr');
        newItem.innerHTML = `
                <tr id="items-${formCount}-type">
                    <td><input class="form-control" id="items-${formCount}-type" name="items-${formCount}-type" required type="text" value=""></td>
                    <td><input class="form-control" id="items-${formCount}-sequence" name="items-${formCount}-sequence" required type="text" value=""></td>
                    <td><button type="button" class="btn btn-danger btn-sm remove-item">Remove</button></td>
                </tr>
        `;
        document.getElementById('items').appendChild(newItem);
    });

    // Add event listener for remove buttons
    document.getElementById('items').addEventListener('click', function(event) {
        if (event.target.classList.contains('remove-item')) {
            event.target.closest('tr').remove();
        }
    });

</script>

<!--</div>-->
<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
{% endblock %}
{% block footer %}
    {{ super() }}
{% endblock %}


